
.allCountries{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.App{
  width: 90%;
  margin: 1rem auto;
  
}

.country-elem{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  width: 200px;
  height: 400px;
}

.country-elem img{
  margin: auto;
  height: 100px;
  text-align: center;
}